.vignette {
  max-width: 60px;
  max-height: 60px;
    margin-right: 4%;
}

#app {
  margin-top: 0px
}

* {
  box-sizing: border-box;
}

.collapsible-header {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

.collapsible-body {
  padding-top: 2px;
  padding-bottom: 2px;
}


html, body {
  overflow: hidden;
  max-height: 100%; 
  height: 100%; 
}

.zero-margin {
  margin-left: 0px;
  margin-right: 0px;
}

#main_container {
  padding-left: 0px;
  padding-right: 0px;
}

#descriptor_search_input {
  background-image: url('../images/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 2px 10px 2px 35px;
  border: 1px solid #ddd; 
  margin-bottom: 12px;
  margin-right: 40px;
}

#container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 2px;
}

#editor {
/*  height: 93%;*/
  font-size: medium;
}

.ql-snow.ql-toolbar button.ql-COPIAR {
  width: 90px;
}

.ql-COPIAR:after {
  content: "COPIAR";
  background-color: #f56565;
  box-shadow: 2px 2px grey;
  padding: 4;
  padding-left: 10;
  padding-right: 10;
}

.ql-snow.ql-toolbar button.ql-SALVAR {
  width: 90px;
}

.ql-SALVAR:after {
  content: "SALVAR";
  background-color: #f56565;
  box-shadow: 2px 2px grey;
  padding: 4;
  padding-left: 10;
  padding-right: 10;
}

.form_sg {
  width: 30%;
}

#form_div {
  padding-top: 5px;
}

.idade-gestacional {
  border: 1px solid #f1a7ae;
  margin-bottom: 5px;
}

.fb-number-label {
  margin-bottom: 0px;
}

label {
  margin-bottom: 0px;
}
